build/
build_cythonize/
blind_tube/build/
blind_tube/dist/
blind_tube/token.json
blind_tube/credentials.json
blind_tube/ffmpeg.exe
blind_tube/data/
__pycache__/
blind_tube/__pycache__/
npp_backup/
blind_tube/npp_backup/
venv/